@{
    ViewData["Title"] = "Strona startowa";
}

<div class="text-center pt-3">
    <h1 class="display-4">Witaj w serwisie hotelowym</h1>
    <p>Po lewej znajduje się menu z odnośnikami do funkcji serwisu.</p>
</div>
